captum==0.7.0
ipython==8.29.0
ipython==8.29.0
loguru==0.7.2
matplotlib==3.9.2
mne==1.8.0
mne_qt_browser==0.6.3
numpy==2.1.2
opentsne==1.0.2
pandas==2.2.3
Pillow==11.0.0
plotly==5.24.1
python-dotenv==1.0.1
pyqt5==5.15.11
scikit_learn==1.5.2
scipy==1.14.1
seaborn==2.2.3
torch==2.5.0
torchvision==0.20.0
tqdm==4.66.5
xgboost==2.1.2